body {
  background-color: gray;
}

.mainContainer {
  width: 280px;
  height: 400px;
  margin: 0 auto;
  background-color: black;
  border-radius: 25px;
}

.screen {
  width: 280px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#display {
  width: 280px;
  height: 25px;
  text-align: right;
  color: white;
}

#currentContent {
  height: 25px;
  margin-bottom: 25px;
  color: white;
}

.rows {
  height: 70px;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.row3 {
  display: flex;
  flex-direction: row;
}

.row4 {
  display: flex;
  flex-direction: row;
}

.buttons {
  width: 70px;
  height: 70px;
  user-select: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers {
  margin: 0;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.operatorButtons {
  width: 70px;
  height: 70px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.operators {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9F0A;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

